@font-face {
    font-family: OswaldMedium;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/OswaldMedium.ttf);
}

@font-face {
    font-family: OswaldRegular;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/OswaldRegular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoBold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoMedium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoRegular.ttf);
}

body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100vw;
    background-image: url(./../../MolenStars/MolenStars/Assets/images/banner-overlay-img.png);
    background-size: cover;
    background-color: black;    
}